/**
WYSIWYG
*/
.wysiwyg-toolbar {
    background: #e5e5e5;
    padding: 4px;
    margin-top:5px;
    margin-left:0 !important;
}
.wysiwyg-editor{
    padding:5px;
    min-height:80px;
    border:1px #e5e5e5 solid;
    outline: none;
}
.wysiwyg-toolbar .btn-colorpicker {
    width: 24px;
    height: 24px;
    position: relative;
    background: #87b87f;
    background: -moz-linear-gradient(top,#cf3e73 10%,#fff 20%,#2283c5 30%,#fff 40%,#87b87f 50%,#fff 60%,#ffb752 70%,#fff 80%,#d15b47 90%,#fff 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#cf3e73),color-stop(20%,#fff),color-stop(30%,#2283c5),color-stop(40%,#fff),color-stop(50%,#87b87f),color-stop(60%,#fff),color-stop(70%,#ffb752),color-stop(80%,#fff),color-stop(90%,#d15b47),color-stop(100%,#fff));
    background: -webkit-linear-gradient(top,#cf3e73 10%,#fff 20%,#2283c5 30%,#fff 40%,#87b87f 50%,#fff 60%,#ffb752 70%,#fff 80%,#d15b47 90%,#fff 100%);
    background: -o-linear-gradient(top,#cf3e73 10%,#fff 20%,#2283c5 30%,#fff 40%,#87b87f 50%,#fff 60%,#ffb752 70%,#fff 80%,#d15b47 90%,#fff 100%);
    background: -ms-linear-gradient(top,#cf3e73 10%,#fff 20%,#2283c5 30%,#fff 40%,#87b87f 50%,#fff 60%,#ffb752 70%,#fff 80%,#d15b47 90%,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CF3E73',endColorstr='#FFB752',GradientType=0);
    background: linear-gradient(top,#cf3e73 10%,#fff 20%,#2283c5 30%,#fff 40%,#87b87f 50%,#fff 60%,#ffb752 70%,#fff 80%,#d15b47 90%,#fff 100%);
}
.dropdown-colorpicker {
    padding:5px;
}
.btn-colorpicker {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #DDD;
    vertical-align: middle;
    border-radius: 0;
}
.dropdown-colorpicker>.dropdown-menu>li>.colorpick-btn {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    position: relative;
    -webkit-transition: all ease .1s;
    transition: all ease .1s;
}

.wysiwyg-toolbar .dropdown-colorpicker>.dropdown-menu {
    top: inherit;
}
.dropdown-colorpicker>.dropdown-menu.pull-right {
    right: -7px;
    left: auto;
}
.wysiwyg-toolbar .dropdown-menu {
    text-align: left;
}
.dropdown-colorpicker>.dropdown-menu {
    top: 80%;
    left: -7px;
    padding: 4px;
    min-width: 130px;
    max-width: 130px;
}
.widget-toolbar>.dropdown>.dropdown-menu.pull-right:before, .dropdown-menu.pull-right.dropdown-caret:before {
    left: auto;
    right: 9px;
}
.widget-toolbar>.dropdown>.dropdown-menu:before, .dropdown-menu.dropdown-caret:before {
    border-bottom: 7px solid rgba(0,0,0,0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}
.widget-toolbar>.dropdown>.dropdown-menu.pull-right:after, .dropdown-menu.pull-right.dropdown-caret:after {
    left: auto;
    right: 10px;
}
.widget-toolbar>.dropdown>.dropdown-menu:after, .dropdown-menu.dropdown-caret:after {
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}

.dropdown-colorpicker>.dropdown-menu>li {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin: 2px;
}
/**
 * Nestable
 */
.dd {
position:relative;
display:block;
margin:0;
padding:0;
max-width:600px;
list-style:none;
font-size:13px;
line-height:20px;
}

.dd-list {
display:block;
position:relative;
margin:0;
padding:0;
list-style:none;
}

.dd-list .dd-list {
padding-left:30px;
}

.dd-collapsed .dd-list {
display:none;
}

.dd-item,.dd-empty,.dd-placeholder {
display:block;
position:relative;
margin:0;
padding:0;
min-height:20px;
font-size:13px;
line-height:20px;
}

.dd-handle {
display:block;
height:auto;
margin:5px 0;
padding:10px 15px;
color:#333;
text-decoration:none;
font-weight:bold;
border:1px solid #ccc;
background:#fafafa;
background:-webkit-linear-gradient(top,#fafafa 0%,#eee 100%);
background:-moz-linear-gradient(top,#fafafa 0%,#eee 100%);
background:linear-gradient(top,#fafafa 0%,#eee 100%);
-webkit-border-radius:3px;
border-radius:3px;
box-sizing:border-box;
-moz-box-sizing:border-box;
}

.dd-handle:hover, .dd-editing {
color:#2ea8e5 !important;
background:#fff !important;
}

.dd-item >button {
display:block;
position:relative;
cursor:pointer;
float:right;
width:25px;
height:20px;
margin:11px 6px;
margin-left:0px;
padding:0;
white-space:nowrap;
overflow:hidden;
border:0;
background:transparent;
font-size:12px;
text-align:center;
font-weight:bold;
}

.dd-item >button:before {

}

.dd-item >button [data-action= "collapse " ]:before {

}

.dd-placeholder,.dd-empty {
margin:5px 0;
padding:0;
min-height:30px;
background:#f2fbff;
border:1px dashed #b6bcbf;
box-sizing:border-box;
-moz-box-sizing:border-box;
}

.dd-empty {
border:1px dashed #bbb;
min-height:100px;
background-color:#e5e5e5;
background-image:-webkit-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),-webkit-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
background-image:-moz-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),-moz-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
background-image:linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
background-size:60px 60px;
background-position:0 0,30px 30px;
}

.dd-dragel {
position:absolute;
pointer-events:none;
z-index:9999;
}

.dd-dragel >.dd-item .dd-handle {
margin-top:0;
}

.dd-dragel .dd-handle {
-webkit-box-shadow:2px 4px 6px 0 rgba(0,0,0,.1);
box-shadow:2px 4px 6px 0 rgba(0,0,0,.1);
}
/**
 * Nestable Extras
 */
.nestable-lists {
display:block;
clear:both;
padding:30px 0;
width:100%;
border:0;
border-top:2px solid #ddd;
border-bottom:2px solid #ddd;
}

#nestable-menu {
padding:0;
margin:20px 0;
}

#nestable-output,#nestable2-output {
width:100%;
height:7em;
font-size:0.75em;
line-height:1.333333em;
font-family:Consolas,monospace;
padding:5px;
box-sizing:border-box;
-moz-box-sizing:border-box;
}

#nestable2 .dd-handle {
color:#fff;
border:1px solid #999;
background:#bbb;
background:-webkit-linear-gradient(top,#bbb 0%,#999 100%);
background:-moz-linear-gradient(top,#bbb 0%,#999 100%);
background:linear-gradient(top,#bbb 0%,#999 100%);
}

#nestable2 .dd-handle:hover {
background:#bbb;
}

#nestable2 .dd-item >button:before {
color:#fff;
}

@media only screen and (min-width:700px) {
.dd {
float:left;
width:100%;
}

.dd + .dd {
margin-left:2%;
}
}

.dd-hover >.dd-handle {
background:#2ea8e5 !important;
}
/**
 * Nestable Draggable Handles
 */
.dd3-content {
display:block;
height:30px;
margin:5px 0;
padding:5px 10px 5px 40px;
color:#333;
text-decoration:none;
font-weight:bold;
border:1px solid #ccc;
background:#fafafa;
background:-webkit-linear-gradient(top,#fafafa 0%,#eee 100%);
background:-moz-linear-gradient(top,#fafafa 0%,#eee 100%);
background:linear-gradient(top,#fafafa 0%,#eee 100%);
-webkit-border-radius:3px;
border-radius:3px;
box-sizing:border-box;
-moz-box-sizing:border-box;
}

.dd3-content:hover {
color:#2ea8e5;
background:#fff;
}

.dd-dragel >.dd3-item >.dd3-content {
margin:0;
}

.dd3-item >button {
margin-left:30px;
}

.dd3-handle {
position:absolute;
margin:0;
left:0;
top:0;
cursor:pointer;
width:30px;
text-indent:100%;
white-space:nowrap;
overflow:hidden;
border:1px solid #aaa;
background:#ddd;
background:-webkit-linear-gradient(top,#ddd 0%,#bbb 100%);
background:-moz-linear-gradient(top,#ddd 0%,#bbb 100%);
background:linear-gradient(top,#ddd 0%,#bbb 100%);
border-top-right-radius:0;
border-bottom-right-radius:0;
}

.dd3-handle:before {
content: '= ';
display:block;
position:absolute;
left:0;
top:3px;
width:100%;
text-align:center;
text-indent:0;
color:#fff;
font-size:20px;
font-weight:normal;
}

.dd3-handle:hover {
background:#ddd;
}
